*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #292929;
  padding: 20px 14px;
  z-index: 9999;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 900px) {
  .navbarContainer {
    margin: 0 auto;
    max-width: 1426px;
  }
}

.logo {
  height: 30px;
}

.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 0 5px 5px;
  margin: 0;
  box-sizing: content-box;
  width: 38px;
}
@media screen and (min-width: 900px) {
  .burger {
    display: none;
  }
}

.burgerBar {
  width: 38px;
  height: 2px;
  margin-bottom: 3px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-in-out;
}
.burgerBar:last-of-type {
  margin-bottom: 0;
}

.burgerActive .burgerBar1 {
  transform: rotate(-45deg) translate(-4px, 3px);
}

.burgerActive .burgerBar2 {
  opacity: 0;
}

.burgerActive .burgerBar3 {
  transform: rotate(45deg) translate(-4px, -3px);
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  top: 70px;
  left: -100%;
  background-color: #292929;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 900px) {
  .menu {
    position: relative;
    top: 0;
    left: auto;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.menuActive.menu {
  left: 0;
}

.menuItem {
  list-style: none;
  margin: 23px auto 0 auto;
}
.menuItem:hover {
  opacity: 0.7;
}
@media screen and (min-width: 900px) {
  .menuItem {
    margin: 0 0 0 58px;
  }
}

.menuItemLink {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.menuItemLink:active {
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 900px) {
  .menuItemLink {
    font-size: 18px;
    line-height: 24px;
  }
}

.header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 27px 0;
}
@media screen and (min-width: 900px) {
  .header {
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 23px;
  }
}

.main {
  padding: 113px 14px 5px 14px;
}
@media screen and (min-width: 900px) {
  .main {
    padding: 250px 14px 14px 14px;
    display: flex;
    justify-content: center;
  }
}

.article {
  display: flex;
  flex-direction: column;
  margin: 27px 0 0 0;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .article {
    flex-direction: row;
    max-width: 1426px;
  }
}

@media screen and (min-width: 900px) {
  .articleTextWrapper {
    width: 50%;
    max-width: 489px;
    margin-right: 21px;
    padding-top: 150px;
  }
}

.articleParagraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (min-width: 900px) {
  .articleParagraph {
    font-size: 20px;
    line-height: 30px;
  }
}

.articleImage {
  margin: 22px auto 0 auto;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .articleImage {
    margin: 0;
  }
}
.articleImage img {
  width: 100%;
  height: auto;
}
